<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Registration Confirmation</title>
    <meta name="description" content="Reset Password" />
    <style type="text/css">
      a:hover {
        text-decoration: underline !important;
      }
      .confirm-header {
        background-color: #7bb041;
        color: #fff;
        border-radius: 5px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 30px;
        font-size: 30px;
      }
      .confirm-body {
        background-color: black;
        color: #fff;
        padding: 10px 20px;
      }
      .confirm-body button {
        background-color: #7bb041 !important;
        color: #fff !important;
        border: none !important;
        border-radius: 5px;
        padding: 5px 15px;
        margin: 0 auto;
      }
    </style>
  </head>

  <body
    marginheight="0"
    topmargin="0"
    marginwidth="0"
    style="margin: 0px; background-color: #f2f3f8"
    leftmargin="0"
  >
    <!--100% body table-->
    <div className="col-3">
      <div className="confirm">
        <div className="confirm-header">Congratulations! Your Profile is Approved on VaidyaNearMe</div>
        <div className="confirm-body">
          <p>Dear <%= user %>,</p>
          <p>
            Congratulations and welcome to VaidyaNearMe!
          </p>
          <p>
            We are delighted to inform you that your profile has been successfully approved. You are now part of our esteemed network of Ayurvedic doctors, ready to serve patients across India.
          </p>
          <p>
            Thank you for choosing to be a part of our community. We look forward to supporting you as you bring the healing power of Ayurveda to those in need.          </p>
          <p>
            Best wishes for your continued success.
          </p>
          <p>
            Warm regards,
          </p>
          <p>
            VaidyaNearMe Team
          </p>
        </div>
      </div>
    </div>
    <!--/100% body table-->
  </body>
</html>
