<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Registration Confirmation</title>
    <meta name="description" content="Reset Password" />
    <style type="text/css">
      a:hover {
        text-decoration: underline !important;
      }
      .confirm-header {
        background-color: #7bb041;
        color: #fff;
        border-radius: 5px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 30px;
        font-size: 30px;
      }
      .confirm-body {
        background-color: black;
        color: #fff;
        padding: 10px 20px;
      }
      .confirm-body button {
        background-color: #7bb041 !important;
        color: #fff !important;
        border: none !important;
        border-radius: 5px;
        padding: 5px 15px;
        margin: 0 auto;
      }
    </style>
  </head>

  <body
    marginheight="0"
    topmargin="0"
    marginwidth="0"
    style="margin: 0px; background-color: #f2f3f8"
    leftmargin="0"
  >
    <!--100% body table-->
    <div className="col-3">
      <div className="confirm">
        <div className="confirm-header">Verify your email adddress</div>
        <div className="confirm-body">
          <!-- <h6>Hi <%= user %>,</h6> -->
            <p>
                Thank you for registering on VaidyaNearMe. Unfortunately, your profile was rejected because of incomplete or incorrect information.
            </p>
            <p>
                Please update your profile with accurate details and valid certificates:     
            </p>
            <p>
                Correct Personal Info: Ensure your name and contact details are correct.
            </p>
            <p>
                Professional Info: Verify your qualifications and experience.
            </p>
            <p>
                If you need help, please feel free to contact our support team.
            </p>
            <p>
                +91 90161 66757 or support@vaidyanearme.com. 
            </p>
            <p>
                Thank you for being so cooperative.
            </p>
            <p>
              Best regards,
            </p>
            <p>
              VaidyaNearMe Team
            </p>
        </div>
      </div>
    </div>
    <!--/100% body table-->
  </body>
</html>
