<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Registration Confirmation</title>
    <meta name="description" content="Reset Password" />
    <style type="text/css">
      a:hover {
        text-decoration: underline !important;
      }
      .confirm-header {
        background-color: #7bb041;
        color: #fff;
        border-radius: 5px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 30px;
        font-size: 30px;
      }
      .confirm-body {
        background-color: black;
        color: #fff;
        padding: 10px 20px;
      }
      .confirm-body button {
        background-color: #7bb041 !important;
        color: #fff !important;
        border: none !important;
        border-radius: 5px;
        padding: 5px 15px;
        margin: 0 auto;
      }
    </style>
  </head>

  <body
    marginheight="0"
    topmargin="0"
    marginwidth="0"
    style="margin: 0px; background-color: #f2f3f8"
    leftmargin="0"
  >
    <div className="col-3">
      <div className="confirm">
        <div className="confirm-header">Verify your email adddress</div>
        <div className="confirm-body">
            <p>
                Thank you for registering with VaidyaNearMe. We have received your profile updation request and are currently reviewing the details.
            </p>
            <p>
                Our team will process your request and approve it very soon. You will receive a confirmation email once your process is complete.
            </p>
            <p>
                If you have any questions in the meantime, please do not hesitate to contact us at 
            </p>
            <p>
                +91 90161 66757 or support@vaidyanearme.com. 
            </p>
            <p>
                Thank you for your patience.
            </p>
            <p>
                Best regards,
            </p>
            <p>
                VaidyaNearMe Team
            </p>
        </div>
      </div>
    </div>
  </body>
</html>
